body {
  cursor: default;
  padding: 0;
  border: 0;
  margin: 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  height: 100%;
  /* for firefox */
  width: 100%;
  position: absolute;

  text-align: center;
  background-color: white;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  pointer-events: none;
}

/* 背景图片的动画效果,开始从图片的最右边一点一点向左边移动 */
@keyframes bg-ani {
  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: 1000px;
  }
}

#subGameLoading {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

body,
canvas,
div {
  outline: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  pointer-events: auto;
}

/* Remove spin of input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

canvas {
  background-color: rgba(0, 0, 0, 0);
}

#GameDiv {
  margin: 0 auto;
  position: relative;
}

#Cocos3dGameContainer,
#GameCanvas {
  width: 100%;
  height: 100%;
}

:root {
  --safe-top: env(safe-area-inset-top);
  --safe-right: env(safe-area-inset-right);
  --safe-bottom: env(safe-area-inset-bottom);
  --safe-left: env(safe-area-inset-left);
}